<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type ="text/css" href="./indexStyle.css">
    <title><%= title %></title>
</head>
<body>
    <div id="wrap">
        <div class="MainImage">
            <img src = "./img/background1.png">
        </div>
    
        <div class="MenuBar">
            <ul>
                <li id = "logo">Hyenjin,</li>
                <li>프로필</li>
                <li>역사</li>
                <li>모먼트</li>
                <li>이야기</li>
            </ul>
        </div>
    </div>
</body>
</html>